:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body{
  background: var(--body-background);
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-logo);    /* color of the scroll thumb */  
}

/* Header */

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  position: absolute;
}

.logo img{
  width: 200px;
}

.bi-list{
  color: var(--color-logo);
  font-size: 36px;
  display: none;
}


.nav-links ul{
  display: flex;
  margin-bottom: 1rem;
}

.nav-links li{
  list-style: none;
  margin: 0 1rem;
}

.nav-links li a{
  color: var(--text-color);
  text-decoration: none;
}

.btn-header{
  display: flex;
  align-items: center;
  border: 0;
  background-color: #fff;
  justify-content: space-around;
  width:180px;
  height: 40px;
  cursor: pointer;
}

.home{
  background-image: url("assets/background.png");
}

#btn-header-mobile{
  display: none;
}


@media(max-width:787px){
  .bi-list{
    display: block;
  }

  .nav-links ul{
    position: absolute;
    background-color: var(--color-logo);
    top: 95px;
    width: 100%;
    height: 210px;
    left: 0;
    z-index: 1;
  }
  

  #menuList{
    transition: .5s;
    overflow: hidden;
  }

  .nav-links ul{
    flex-direction: column;
    align-items: end;
  }

  .nav-links li{
    margin: 0.5rem 1rem;
  }
}

@media(max-width:508px){
  .btn-header{
    display: none;
  }

  #btn-header-mobile{
    display: block;
    margin: 0;
    display: flex;
    margin-bottom: .5rem;
  }
}

@media(max-width:284px){
  .logo img{
    width: 100px;
  }
}

/*Section Home */

.home{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8rem; 
  flex-direction: column;
}

.container-home{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-left{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box-left p{
  color: var(--text-color);
  max-width: 310px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.box-artistas{
  display: flex;
  align-items: center;
}

.box-artistas img{
  width: 150px;
}

.box-artistas span{
  color: #fff;
  margin-left: 1rem;
}

.box-center{
  color: var(--text-color);
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-center h1{
  max-width: 100%;
  font-size: 36px;
}

.box-center span{
  color: var(--color-logo);
}

@media(max-width:997px){
  .container-home{
    flex-direction: column;
  }

  .box-left{
    width: 100%;
    align-items: center;
  }

  .box-left p{
    max-width: 100%;
    text-align: center;
  }

  .box-artistas{
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .box-center{
    width: 100%;
    text-align: center;
    margin: 3rem 0;
  }
}

/* Container Galley */

.container-gallery{
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
}

.gallery-box1{
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.gallery-box1 img{
  margin: 0 .5rem;
  border: 1px solid #fff;
  width: 200px;
}

.gallery-box2{
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.gallery-box2 img{
  margin: 0 .5rem;
  border: 1px solid #fff;
  width: 200px;
}

@media(max-width:912px){
  .container-gallery{
    flex-direction: row;
  }
  .gallery-box1{
    flex-direction: column;
  }

  .gallery-box2{
    flex-direction: column;
  }

  .gallery-box1 img,
  .gallery-box2 img{
    width: 300px;
    margin: 0.5rem;
  }
}

@media(max-width:642px){
  .gallery-box1 img,
  .gallery-box2 img{
    width: 80%;
  }

  .container-gallery{
    flex-direction: column;
  }

  .gallery-box1{
    margin: 0;
  }
}

/*Section Numbers info */

.numbers-info{
  background-color: var(--body-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--subtitle-color);
  height: auto;
}

.box-left-numbers-info{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border-right: 1px solid var(--subtitle-color);
  height: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  margin-right: 5rem;
  color: var(--text-color);
  align-items: flex-start;
  width: 30%;
}

.info h2{
  font-size: 33px;
}

.info h3{
  font-size: 14px;
  font-weight: 100;
  color: var(--text-color);
  opacity: 70%;
}

.box-right-numbers-info{
  width: 75%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.texts-info{
  display: flex;
  max-width: 90%;
  color: var(--text-color);
  align-items: center;
  justify-content: space-evenly;
  margin:4rem 0;
}

.text1, .text2{
  display: flex;
  flex-direction: column;
  max-width: 45%;
  font-size: 14px;
}

.text1 p, .text2 p{
  margin: .8rem 0;
}

.text1 span, .text2 span{
  color: var(--color-logo);
  text-decoration: underline;
}

.authorp{
  text-decoration: underline;
}

.img-numbers-info{
  width: 100%;
}

.img-numbers-info img{
  width: 100%;
  height: 100%;
}

@media(max-width:724px){
  .numbers-info{
    flex-direction: column;
    height: auto;
  }

  .box-left-numbers-info{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .info{
    margin: 0 2rem;
    width: auto;
  }

  .texts-info{
    flex-direction: column;
    max-width: 100%;
  }

  .text1, .text2 {
    max-width: 100%;
    text-align: center;
  }
}

@media(max-width:597px){
  .img-numbers-info{
    display: none;
  }
}

@media(max-width:447px){
  .box-left-numbers-info{
    flex-direction: column;
    align-items:center;
    border: none;
    margin-top: 2rem;
  }

  .info{
    text-align: center;
    align-items: center;
    width: 100%;
  }
}

/* Popular */

.popular{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.title-popular{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4rem 0;
  text-transform: initial;
}

.title-popular h1{
  font-size: 36px;
  color: var(--text-color);
}

.title-popular strong{
  color: var(--color-logo);
}

.container-astrounat{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.card-astrounat{
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  width: 300px;
}

hr{
  border: 1px solid var(--subtitle-color);
  width: 30%;
  transform: rotate(90deg);
}

.card-astrounat .title-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-astrounat .name-astrounat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.name-astrounat p{
  color: var(--subtitle-color);
  font-weight: 600;
}

.name-astrounat span{
  color: var(--color-logo);
  font-weight: 600;
}

.img-astrounat img{
  width: 100%;
}

@media(max-width:787px){
  hr{
    display: none;
  }
  .container-astrounat{
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .card-astrounat{
    width: 80%;
    margin: 1.5rem;
  }
}

@media(max-width:587px){
  .title-popular{
    text-align: center;
  }
}

/* Section Melhores Artistas */

.best-artists{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-best-artists{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.title-best-artists h1{
  font-size: 36px;
  color: var(--text-color);
}

.title-best-artists span{
  color: var(--color-logo);
}
.container-best-artists{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.card-best-artists{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--card-color);
  padding: 1rem 0;
}

.img-artist img{
  width: 80px;
}

.info-artist{
  display: flex;
  flex-direction: column;
}

.info-artist p{
  color: var(--text-color);
  font-weight: 500;
}

.info-artist span{
  color: var(--color-logo);
  font-weight: 500;
  margin-top: 1rem;
}

#cardtwo{
  background-color: var(--color-logo);
}

#cardtwo span{
  color: var(--text-color);
}

.span-best-artists{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.span-best-artists span{
  color: var(--text-color);
  margin: 0 1rem;
  cursor: pointer;
}

.span-best-artists img{
  cursor: pointer;
}

@media(max-width:947px){
  .container-best-artists{
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .card-best-artists{
    width: 80%;
  }

  .title-best-artists{
    align-items:center;
    justify-content: center;
  }

  .title-best-artists h1{
    text-align: center;
  }
}

@media(max-width:397px){
  .card-best-artists{
    flex-direction: column;
    align-items: center;
  }

  .img-artist{
    margin: 1rem;
  }

  .info-artist p{
    text-align: center;
  }

  .info-artist span{
    text-align: center;
  }
}

footer{
  background-color: var(--card-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 180px;
  border-bottom: 1px solid var(--subtitle-color);
}

.top-footer img{
  width: 200px;
}

.btn-top{
  border: 0;
  background-color: var(--color-logo);
  padding: 1rem;
  cursor: pointer;
}

.btn-top img{
  width: 100%;
}

.center-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  border-bottom: 1px solid var(--subtitle-color);
}

.box-left-center-footer{
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  border-right: 1px solid var(--subtitle-color);
}

.box-left-center-footer h2{
  color: var(--text-color);
  font-weight: 400;
}

.box-left-center-footer span{
  color: var(--color-logo);
}

.box-left-center-footer form{
  display: flex;
  width: 100%;
}

.box-left-center-footer input{
  padding: 1rem;
  border: none;
  outline: none;
  background-color: var(--color-input);
  color: var(--subtitle-color);
  width: 65%;
  margin-top:1rem;
}

.btn-form{
  border: 0;
  padding: 1rem;
  color: var(--black-text);
  background-color: #fff;
  font-weight: 700;
  margin-top: 1rem;
}

.box-right-center-footer{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.col-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 3rem;
}

.col-footer h4{
  color: var(--text-color);
  margin-bottom: 1rem;
}

.col-footer li{
  cursor: pointer;
  list-style: none;
  color: var(--subtitle-color);
  margin: .8rem 0;
}

.bottom-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.bottom-footer p{
  color: var(--subtitle-color);
  font-weight: 600;
}

.links-sociais{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.links-sociais img{
  width: 20px;
}

.bottom-footer a{
  color: var(--color-logo);
}

@media(max-width:887px){
  footer{
    height: auto;
  }

  .center-footer{
    flex-direction: column;
    height: auto;
  }

  .box-left-center-footer{
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 2rem 0;
    border: none;
  }

  .box-left-center-footer form{
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .box-right-center-footer{
    display: flex;
    height: auto;
    margin: 2rem 0;
    width: 100%;
    justify-content: center;
  }
}

@media(max-width:477px){
  .box-right-center-footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .box-left-center-footer h2{
    text-align: center;
  }

  .col-footer{
    align-items: center;
    margin: 2rem 0;
  }

  .box-left-center-footer form{
    flex-direction: column;
    width: 95%;
  }

  .box-left-center-footer input{
    width: 100%;
  }

  .btn-form{
    margin: 0;
    width: 100%;
  }

  .bottom-footer{
    flex-direction: column;
  }
}